@page
@model pizza_fyard.Pages.Admin.Pizzas.EditModel

@{
    ViewData["Title"] = "Editer";
}

<h1>@ViewData["Title"]</h1>

<h4>Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pizza.PizzaID" />
            <div class="form-group mb-3">
                <label asp-for="Pizza.name" class="control-label"></label>
                <input asp-for="Pizza.name" class="form-control" />
                <span asp-validation-for="Pizza.name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Pizza.price" class="control-label"></label>
                <input asp-for="Pizza.price" class="form-control" />
                <span asp-validation-for="Pizza.price" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pizza.vegan" /> @Html.DisplayNameFor(model => model.Pizza.vegan)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Pizza.ingredients" class="control-label"></label>
                <input asp-for="Pizza.ingredients" class="form-control" />
                <span asp-validation-for="Pizza.ingredients" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
